/* src/css/App.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: linear-gradient(135deg, #8e2de2, #b36af7);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    color: white;
    width: 600px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field {
    width: 200px;
    height: 40px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.test-login-button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: white;
    color: #8e2de2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.test-login-button:hover {
    background-color: #f0f0f0;
}

.register-link {
    color: white;
    margin-top: 20px;
    cursor: pointer;
}