.dashboard-container {
  background-color: #8e2de2; /* Ярко-фиолетовый фон */
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
}

.dashboard-icon {
  margin: 0 10px; /* Расстояние между иконками */
  padding: 10px;
  font-size: 24px; /* Размер как у иконки чата */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.settings {
  color: #b36af7;
}

.news {
  color: #f0f0f0;
}

.apps {
  color: #fff;
}

.chat-icon {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.chat-icon:hover {
  background-color: rgba(255, 255, 255, 0.4);
}