.register-container {
    background: linear-gradient(135deg, #8e2de2, #b36af7); /* Градиентный фиолетовый блок */
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field {
    width: 200px;
    height: 40px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #8e2de2;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.arrow-icon {
    margin-left: 5px;
    font-size: 18px;
}